header{
    box-shadow: 0 8px 16px rgb(0 0 0 / 8%);
}
.headerContainer{
    max-width:1200px;
    width:100%;
    margin:0 auto;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.logo img{
    height:36px;
}
.nav ul{
    display: flex;
    gap:30px;
    list-style:none;
    padding:0;
    margin:10px 0;
}
.nav ul li {
    cursor: pointer;
    padding:25px 0;
    position: relative;
    box-sizing: border-box;
}
.nav ul li::after{
    content:"";
    position:absolute;
    width:0%;
    height:2px;
    background-color: #f3b01b;
    bottom:0;
    left:0;
    transition:0.5s ease;

}
.nav ul li:hover::after{
    width:100%;
}

