@font-face {
    font-family:dejavu;
    src: url('./assets/dejavu.ttf');
}
*{
    font-family:dejavu;
    letter-spacing:1px;
    font-weight:600;
    font-size:14px;
}
body{
    padding:0;
    margin:0;
}
.screen{
    max-width:1200px;
    width:100%;
    margin:0 auto;
}